{% extends "layout.html" %}

{% block title %} RoCry {% endblock %}

{% block body %}

        <meta charset="utf-8">
        <ul class="nav">
            <li class="nav-item profile">
              <div class="profile-desc">
                <div class="profile-pic">
                  <div class="count-indicator">
                    <img class="img-xs rounded-square " src="/static/images/images/Dylan/dylan.jpeg" alt="Dylan Bowsky" width="180" height="200">
                    <p>Hi everyone, my name is Dylan Bowsky. I have worked in the finance field for the last 8 years 
                      and have thoroughly enjoyed educating people and learning about finance. I have been working as a banker 
                      and have seem some things that big and small banks are lacking. Noticing this lack in the current market is 
                      what made me think of RoCry. RoCry is a platform to use Crypto as a diversifier in your portfolio along with 
                      stocks and bonds. We are using Machine Learning to learn from data on a daily level and see how our portfolios 
                      can keep getting better. Our portfolios at the current time are preset and were hand picked using background 
                      and historical data. The intent is used to use a well-rounded portfolio to start so the novice investor doesn’t 
                      get overwhelmed by the vast market. We include portfolios based of risk tolerance for the user to decide using 
                      our ChatBot. I am excited to further this project and continue to provide a service to all types of investors.
                      Also be sure to check our ones to watch which is using a neural network model to pick up on trends for our 
                      top picks of the week.</p>
                    <span class="count bg-success"></span>
                  </div> 
                </div>
                
                <div class="profile-pic">
                  <div class="count-indicator">
                    <img class="img-xs rounded-square " src="/static/images/images/Kevin/kevin.jpg" alt="Kevin Mau" width="150" height="170">
                    <p>Hello World!  My name is Kevin Mau and I am part of the front-end development team of RoCry.  More specifically, 
                      I engineered and implemented the cute little robot that loves to talk with our visitors!  You can find our RoCry chatbot 
                      by clicking on the widget on the bottom right corner of our webpage.  My plans for the future for our blue-colored friend 
                      would be to expand his capabilites to navigate our visitors to more and more resources found on our webpage.  Also he 
                      will be able to collect more specific information to uniquely tailor to the user-experience.  Ultimately, if the user 
                      permits, we want that our RoCry Bot to know the user's intentions so well that the RoCry Bot can execute trades on the 
                      user's behalf.  Thank you for visiting and I hope that you are enjoying the RoCry platform.</p>
                    <span class="count bg-success"></span>
                  </div> 
                </div>

                <div class="profile-pic">
                  <div class="count-indicator">
                    <img class="img-xs rounded-square " src="static/images/images/Abiy/abiy.jpeg" alt="Abiy Mekuria" width="150" height="170">
                    <p>Hello World! My name is Abiy Mekuria and I am part of portfolio development team of RoCry. More specifically, I designed 
                      the portfolio based on risk analysis of bonds , stocks and crypto. Due to a lot of information in internet investor get 
                      hard time to choice and invest on best options of portfolio recommendation. Here we are to create  Rocry to bring our best 
                      portfolio for investors based on 5 risk analysis(Low, low_medium, medium, low_medium and High risk portfolio).</p>
                    <span class="count bg-success"></span>
                  </div> 
                </div>


                <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
                <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
                  <a href="#" class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-settings text-primary"></i>
                      </div>
                    </div>
                   
                </div>
              </div>
            </li>
            
          </ul>

          <!-- RoCryBot -->
<script type="text/javascript">
  (function(d, m){
      var kommunicateSettings = 
          {"appId":"21c82409194a9603cd2d79404193fad0a","popupWidget":true,"automaticChatOpenOnNavigation":true};
      var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
      s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
      var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
      window.kommunicate = m; m._globals = kommunicateSettings;
  })(document, window.kommunicate || {});
</script>
<!-- end of script-->
{% endblock %}